* {
  print-color-adjust: exact;
}

li {
  list-style-type: none;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;

  position: relative;
}

li:hover {
  cursor: move;
  background-color: rgb(245, 245, 245);
}

li .close {
  position: absolute;
  right: 1rem;

  color: red;
  cursor: pointer;
}

.field,
.drag-containers {
  min-height: 30vh;
  min-width: 23vw;
}

.drag-containers {
  color: grey;
}

.graph-lines-vertically {
  padding: 0;
  background: black;
  max-width: 3px;
  min-width: 3px;
}

.graph-lines-vertically span {
  writing-mode: vertical-lr;
  text-orientation: upright;

  position: relative;

  top: 1.5vh;
  right: 2vw;
}

.graph-lines-horizontally {
  padding: 0;
  background: black;
  height: 3px;
}

.col-input {
  padding: 0;
}

.dragging {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .container {
    margin-left: 10vw;
  }

  .graph-lines-vertically span {
    right: 4vw;
  }

  .field,
  .drag-containers {
    min-height: 5vh;
    min-width: 0;
  }
}
